# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
example/node_modules/

# Build output
dist

# TypeScript cache
*.tsbuildinfo

# Tool caches
.npm
.eslintcache

# Env files
.env
.env.*
!.env.example

# Output of 'npm pack'
*.tgz

# Expo
example/.expo

# macOS
.DS_Store
